<%- include('partials/header') -%>
  <section class="container">

    <div class="container p-6 mx-auto flex flex-row flex-wrap justify-center">
      <% for(let cat of cats) {%>
        <div class="card card-bordered w-72 lg:w-96 m-3">
          <figure>
            <img src="<%= cat.image %>">
          </figure>
          <div class="card-body">
            <h2 class="card-title">
              <%= cat.catName %>
                <% if (cat.urgent=='Yes' ) { %>
                  <div class="badge mx-2 badge-secondary">URGENT</div>
                  <!-- <span class="text-warning">Urgent!</span> -->
                <% } %>
            </h2>
            
            <% if (cat.urgent=='Yes' ) { %>
              <p>Needs Home By: <%= moment(cat.needsHomeBy).format('MM/DD/YYYY') %>
              </p>
            <% } %>
            
            <div class="justify-end card-actions">
              <button class="btn btn-secondary">More info</button>
            </div>
          </div>
        </div>

        <!-- <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="<%= cat.image %>" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><%= cat.catName %></h5>
              <% if (cat.urgent == 'Yes') { %>
                <span class="text-warning">Urgent!</span>
                <p class="card-text">Needs Home By: <%= moment(cat.needsHomeBy).format('MM/DD/YYYY') %></p>
              <% } %> 
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Age: <%= cat.age %></li>
              <li class="list-group-item"><%= cat.sex %></li>
              <li class="list-group-item">Neutered/Spayed? <%= cat.fixed %></li>
              <li class="list-group-item">Vaccines up to date? <%= cat.fixed %></li>
            </ul>
            <div class="card-body">
              <a href="/cat/<%= cat._id%>" class="card-link btn btn-outline-secondary">Detail</a>
              <a href="#" class="card-link"></a>
            </div>
          </div> -->
      <% } %>
    </div>

  </section>
  <%- include('partials/footer') -%>