<%- include('../partials/header') -%>
<section class="container mb-6">
  <div class="container w-96 mx-auto">
    <h2 class="inline-block text-2xl font-bold border-b-8 lg:text-7xl text-base-content border-primary mb-3">Edit <%=cat.catName%>'s Profile</h2>
    <form method="POST" action="/cat/<%=cat._id%>?_method=PUT" enctype="multipart/form-data">

      <div class="mb-3">
        <img class="col-3 rounded img-fluid mb-3" src="<%=cat.image%>" />
      </div>
      <div class="form-control mb-3">
        <label class="label">
          <span class="label-text">Image</span>
        </label>
        <input type="file" class="input input-primary input-bordered text-sm text-grey-500
        file:mr-5 file:my-1 file:py-2 file:px-6
        file:rounded-full file:border-0
        file:text-sm file:font-medium
        file:bg-base-100 file:text-content
        hover:file:cursor-pointer hover:file:bg-amber-50
        hover:file:text-amber-700"  name="file">
      </div>
  
      <div class="form-control mb-3">
        <label for="catName" class="label">
          <span class="label-text">Name <small>(Required)</small></span>
        </label>
        <input required name="catName" value="<%=cat.catName%>" type="text" class="input input-primary input-bordered" id="catName">
      </div>

      <div class="form-control mb-3">
        <label for="breed" class="label">
          <span class="label-text">Breed <small>(Required)</small></span>
        </label>
        <input required name="breed" value="<%=cat.breed%>" type="text" class="input input-primary input-bordered" id="breed">
      </div>

      <div class="form-control mb-3">
        <label for="birthday" class="form-label">
          <span class="label-text">Born on <small>(Required)</small>:</span>
        </label>
        <input required name="birthday" value="<%= moment(cat.birthday).format('YYYY-MM-DD') %>" type="date" class="input input-primary input-bordered" id="birthday">
      </div>
      <!-- <div class="mb-3 row">
        <label for="ageYear" class="form-label">Age</label>
        <div class="col">
          <input type="number" class="form-control" id="ageYear" name="ageYear" placeholder="years" min="0" max="25" value="0">
        </div>
        <div class="col">
          <input type="number" class="form-control" id="ageMonth" name="ageMonth" placeholder="months" min="1" max="11" value="0">
        </div>
        <div class="col">
          <input type="number" class="form-control" id="ageDay" name="ageDay" placeholder="days" min="1" max="11" value="0">
        </div>
      </div> -->
      <div class="form-control mb-3">
        <label class="label">
          <span class="label-text">Sex <small>(Required)</small></span>
        </label>
        <select required name="sex" class="select select-bordered select-primary w-full">
          <option selected value="<%=cat.sex%>"><%=cat.sex%></option>
          <% if (cat.sex !== 'Female') { %>
            <option value="Female">Female</option>
          <% } %>
          <% if (cat.sex !== 'Male') { %>
            <option value="Male">Male</option>
          <% } %>
          <% if (cat.sex !== 'Unknown') { %>
            <option value="Unknown">Unknown</option>
          <% } %>
          
        </select>
      </div>
      <div class="form-control mb-3">
        <label class="label">
          <span class="label-text">Neutered/Spayed? <small>(Required)</small></span>
        </label>
        <select required name="fixed" class="select select-bordered select-primary w-full">
          <option value="Yes" <% if(cat.fixed == 'Yes') { %>  selected <% } %> >Yes</option>
          <option value="No" <% if(cat.fixed == 'No') { %>  selected <% } %> >No</option>
          <option value="Scheduled" <% if(cat.fixed == 'Scheduled') { %>  selected <% } %> >Scheduled</option>
          <option value="Unknown" <% if(cat.fixed == 'Unknown') { %>  selected <% } %> >Unknown</option>
        </select>
      </div>
      
      <div class="form-control mb-3">
        <label class="label">
          <span class="label-text">Vaccines up to date? <small>(Required)</small></span>
        </label>
        <select required name="vaxxed" class="select select-bordered select-primary w-full">
          <option value="Yes" <% if(cat.vaxxed == 'Yes') { %>  selected <% } %> >Yes</option>
          <option value="No" <% if(cat.vaxxed == 'No') { %>  selected <% } %> >No</option>
          <option value="Scheduled" <% if(cat.vaxxed == 'Scheduled') { %>  selected <% } %> >Scheduled</option>
          <option value="Unknown" <% if(cat.vaxxed == 'Unknown') { %>  selected <% } %> >Unknown</option>
        </select>
      </div>
      
      <div class="form-control mb-3">
        <label class="label">
          <span class="label-text">House trained?</span>
        </label>
        <select name="trained" class="select select-bordered select-primary w-full">
          <option <% if(!cat.trained) { %>  selected <% } %> >Choose...</option>
          <option value="Yes" <% if(cat.trained && cat.trained == 'Yes') { %>  selected <% } %> >Yes</option>
          <option value="In Training" <% if(cat.trained && cat.trained == 'In Training') { %>  selected <% } %> >In Training</option>
          <option value="No" <% if(cat.trained && cat.trained == 'No') { %>  selected <% } %> >No</option>
        </select>
      </div>

      <div class="form-control mb-3">
        <label class="label">
          <span class="label-text">Characteristics</span>
        </label> 
        <textarea name="personality" class="textarea h-24 textarea-bordered textarea-primary" placeholder="Characteristics"><%=cat.personality%></textarea>
      </div> 
      
      <div class="form-control">
        <label class="label">
          <span class="label-text">Rescuer's Note</span>
        </label> 
        <textarea name="note" class="textarea h-24 textarea-bordered textarea-primary" placeholder="Rescuer's note, cat's background, foster/adoption requirements, etc."><%=cat.note%></textarea>
      </div> 
     
      <div class="form-control mb-3">
        <label class="label">
          <span class="label-text">Urgent?</span>
        </label>
        <select id="urgent" name="urgent" class="select select-bordered select-primary w-full">
          <option value="Yes" <% if(cat.urgent && cat.urgent == 'Yes') { %>  selected <% } %> >Yes</option>
          <!-- if not urgent, hide the date input below -->
          <option value="No" <% if(!cat.urgent || cat.urgent == 'No') { %>  selected <% } %> >No</option>
        </select>
      </div>

      <div class="form-control mb-3 need-home-by <% if(!cat.urgent || cat.urgent == 'No') { %>  no-display <% } %>">
        <label for="birthday" class="form-label">
          <span class="label-text">Need Home By:</span>
        </label>
        <!-- update min to today's date -->
        <input name="needsHomeBy" value="<%= moment(cat.needsHomeBy).format('YYYY-MM-DD') %>" type="date" class="input input-primary input-bordered" id="startDate" min="2022-09-01">
      </div>

  
      <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
      <a class="btn btn-ghost" href="/profile">Cancel</a>
    </form>
    
  </div>
</section>

<%- include('../partials/footer') -%>