<%- include('../partials/header') -%>
<div class="container">
  <div class="mt-5">
    <h2>Edit Cat Profile</h2>
    <form method="POST" action="/cat/<%=cat._id%>?_method=PUT" enctype="multipart/form-data">
      <div class="mb-3">
        <!-- <label for="imgUpload" class="form-label">Image</label> -->
        <img class="col-3 rounded img-fluid mb-3" src="<%=cat.image%>" />

        <input type="file" class="form-control" id="imageUpload" name="file">
      </div>
      <div class="mb-3">
        <label for="catName" class="form-label">Name</label>
        <input type="text" class="form-control" id="title" name="catName" value="<%=cat.catName%>">
      </div>
      <div class="mb-3">
        <label for="breed" class="form-label">Breed</label>
        <input type="text" class="form-control" id="breed" name="breed" value="<%=cat.breed%>">
      </div>
      <div class="mb-3">
        <label for="birthday" class="form-label">Born on:</label>
        <input type="date" class="form-control" id="birthday" name="birthday" value="<%= moment(cat.birthday).format('YYYY-MM-DD') %>">
      </div>
      <!-- <div class="mb-3 row">
        <label for="ageYear" class="form-label">Age</label>
        <div class="col">
          <input type="number" class="form-control" id="ageYear" name="ageYear" placeholder="years" min="0" max="25" value="0">
        </div>
        <div class="col">
          <input type="number" class="form-control" id="ageMonth" name="ageMonth" placeholder="months" min="1" max="11" value="0">
        </div>
        <div class="col">
          <input type="number" class="form-control" id="ageDay" name="ageDay" placeholder="days" min="1" max="11" value="0">
        </div>
      </div> -->
      <div class="form-group mb-3">
        <label class="form-label" for="FormControlSelect1">Sex</label>
        <select name="sex" class="form-control" id="FormControlSelect1">
          <option selected value="<%=cat.sex%>"><%=cat.sex%></option>
          <option value="Female">Female</option>
          <option value="Male">Male</option>
          <option value="Unknown">Unknown</option>
        </select>
      </div>
      <div class="form-group mb-3">
        <label class="form-label" for="FormControlSelect2">Neutered/Spayed?</label>
        <select name="fixed" class="form-control" id="FormControlSelect2" >
          <option value="Yes" <% if(cat.fixed.toLowerCase() == 'yes') { %>  selected <% } %> >Yes</option>
          <option value="No" <% if(cat.fixed.toLowerCase() == 'no') { %>  selected <% } %> >No</option> 
        </select>
      </div>
      <div class="form-group mb-3">
        <label class="form-label" for="FormControlSelect2">Vaccines up to date?</label>
        <select name="vaxxed" class="form-control" id="FormControlSelect2">
          <option value="Yes" <% if(cat.vaxxed.toLowerCase() == 'yes') { %>  selected <% } %> >Yes</option>
          <option value="No" <% if(cat.vaxxed.toLowerCase() == 'no') { %>  selected <% } %> >No</option>
        </select>
      </div>
      <div class="form-group mb-3">
        <label class="form-label" for="personality">Personality</label>
        <textarea name="personality" class="form-control" id="personality" rows="3"><%=cat.personality%></textarea>
      </div>
      <div class="form-group mb-3">
        <label class="form-label" for="note">Adopt/Foster Note</label>
        <textarea name="note" class="form-control" id="note" rows="3"><%=cat.note%></textarea>
      </div>
      <div class="form-group mb-3">
        <label class="form-label" for="FormControlSelect2">Urgent?</label>
        <select name="urgent" class="form-control" id="FormControlSelect2">
          <option value="Yes" <% if(cat.urgent && cat.urgent.toLowerCase() == 'yes') { %>  selected <% } %>>Yes</option>
          <option value="No" <% if(!cat.urgent || cat.urgent.toLowerCase() == 'no') { %>  selected <% } %>>No</option>
        </select>
      </div>
      <div class="form-group mb-3">
        <!-- update min to today's date -->
        <label class="form-label" for="startDate" min="2022-09-01">Need Home By:</label>
        <input name="needsHomeBy" type="date" class="form-control" id="startDate" value="<%= moment(cat.needsHomeBy).format('YYYY-MM-DD') %>">
      </div>
  
      
  
      <button type="submit" class="btn btn-secondary mb-3" value="Upload">Submit</button>
      <a class="btn btn-outline-secondary mb-3" href="/profile">Cancel</a>
    </form>
    
  </div>
</div>


<%- include('../partials/footer') -%>