<%- include('../partials/header') -%>
<section class="container p-6 sm:w-full lg:w-10/12  mx-auto">
  <div class="card lg:card-side card-bordered">
    <figure class="p-6  lg:max-w-sm">
      <img class="rounded-lg shadow-lg sm:w-full md:w-3/5 lg:w-full" src="<%=cat.image%>">
    </figure> 
    <div class="card-body">
      

      <h2 class="card-title"><%=cat.catName%>
        <% if (cat.urgent == 'Yes') { %>
          <div class="badge mx-2 badge-warning">URGENT</div>
        <% } %>
        <% if (cat.archived == 'Yes') { %>
          <div class="badge mx-2 badge-warning">ARCHIVED</div> 
        <% } %>
      </h2>
      <span><%=cat.age%></span>
      <span><%=cat.sex%></span>
      <span><%=cat.breed%></span>
      <span><strong>Neutered/Spayed?</strong> <%=cat.fixed%></span>
      <span><strong>All vaccines up to Date?</strong> <%=cat.vaxxed%></span>
      <span><strong>House trained?</strong> <%=cat.trained%></span>
      <span><strong>Characteristics:</strong> <%=cat.personality%></span>
      <span><strong>Foster/Adopt Node:</strong> <%=cat.note%></span>
      <div class="card-actions">
        <%if(cat.volunteer == user.id) { %>
          <a href="/cat/edit/<%=cat._id%>" class="btn btn-neutral mr-2">Edit</a>

          <form method="POST" action="/cat/archive/<%=cat._id%>?_method=PUT" class="">
            <input type="text" name="archived" value="<%= cat.archived == 'Yes' ? 'No' : 'Yes' %>" class="no-display">
            <% if (cat.archived == 'Yes') { %>
              <button type="submit" class="btn btn-ghost px-1">REACTIVATE</label>
            <% } else { %>
              <button type="submit" class="btn btn-ghost px-1">ARCHIVE</label>
            <% } %>
          </form> 
          <!-- <a href="#" class="btn btn-ghost">Archive</a> -->
        <% } %>
      </div>
    </div>
  </div>

  <!-- if user is a volunteer -->

  <!-- if current user is cat's volunteer -->
  <%if(cat.volunteer == user.id) { %>
    <form method="POST" action="/cat/log/<%=cat._id%>">
      <div class="form-control mb-3">
        <label class="label">
          <span class="label-text">Date:</span>
        </label>
        <input name="createdAt" type="date" value="<%= moment.utc().local().format('YYYY-MM-DD') %>" max="<%= moment.utc().local().format('YYYY-MM-DD') %>" class="input input-secondary input-bordered">
      </div>
      <div class="form-control">
        <label class="label">
          <span class="label-text">How did <%= cat.catName %> do?</span>
        </label> 
        <textarea name="content" class="textarea h-24 textarea-bordered textarea-secondary" placeholder="Add a quick note"></textarea>
      </div>
      <button id="add-log" type="submit" class="btn btn-secondary my-3">Add Log</button> 
    </form>
  <% } %>

  <% if (logs.length !== 0) { %>
    <div class="overflow-x-auto mt-5">
      <table class="table w-full">
        <thead>
          <tr>
            <th>Date</th> 
            <th>Note</th> 
            <th>Entered by</th>
            <th></th> 
          </tr>
        </thead> 
        <tbody> 
          <% for (let log of logs) { %>
            <% if (log.content) { %>
              <tr class="hover">
                <!-- <th>7</th>  -->
                <td><%= moment.utc(log.createdAt).local().format('MM/DD/YYYY') %></td> 
                <td class="log-note-td"><%= log.content %></td> 
                <td><%= log.createdByName %></td>
                <%if(cat.volunteer == user.id) { %>
                  <td>
                    <!-- <a href="#" class="btn btn-neutral mr-2 p-2">Edit</a> -->
                    <form method="POST" action="/cat/<%=cat._id%>/<%=log._id%>?_method=DELETE">
                      <button type="submit" class="btn btn-outline btn-error p-1">Delete</button>
                    </form>
                  </td>
                <% } %>
              </tr>
            <% } %>
          <% } %>
        </tbody>
      </table>
    </div>
  <% } %>
  
  

  

</section>

<%- include('../partials/footer') -%>
