<%- include('../partials/header') -%>
<section class="container p-6 sm:w-full lg:w-10/12  mx-auto">
  <div class="card lg:card-side card-bordered">
    <figure class="p-6  lg:max-w-sm">
      <img class="rounded-lg shadow-lg sm:w-full md:w-3/5 lg:w-full" src="<%=cat.image%>">
    </figure> 
    <div class="card-body">
      <h2 class="card-title"><%=cat.catName%>
        <% if (cat.urgent == 'Yes') { %>
          <div class="badge mx-2">URGENT</div>
        <% } %>
      </h2>
      <span><%=cat.age%></span>
      <span><%=cat.sex%></span>
      <span><%=cat.breed%></span>
      <span><strong>Neutered/Spayed?</strong> <%=cat.fixed%></span>
      <span><strong>All vaccines up to Date?</strong> <%=cat.vaxxed%></span>
      <span><strong>House trained?</strong> <%=cat.trained%></span>
      <span><strong>Characteristics:</strong> <%=cat.personality%></span>
      <span><strong>Foster/Adopt Node:</strong> <%=cat.note%></span>
      <div class="card-actions">
        <%if(cat.volunteer == user.id) { %>
          <a href="/cat/edit/<%=cat._id%>" class="btn btn-primary mr-2">Edit</a> 
          <a href="#" class="btn btn-ghost">Archive</a>
        <% } %>
      </div>
    </div>
  </div>

  <!-- if user is a volunteer -->
  <div class="overflow-x-auto mt-5">
    <table class="table w-full">
      <thead>
        <tr>
          <th>Date</th> 
          <th>Note</th> 
          <th>Entered by</th>
          <th></th> 
        </tr>
      </thead> 
      <tbody>
        <tr class="hover">
          <!-- <th>7</th>  -->
          <td>09/15/2022</td> 
          <td>Angel didn't like Tiki Cat Chicken Pate. Didn't even take one bite lol 😂</td> 
          <td>Tiantian</td>
          <%if(cat.volunteer == user.id) { %>
            <td><a href="#" class="btn btn-primary mr-2">Edit</a><a href="#" class="btn btn-outline btn-error">Edit</a></td>
          <% } %>
        </tr>
 
      </tbody>
    </table>
  </div>
  

  

</section>

<%- include('../partials/footer') -%>
